
.but {
    width: 15px;
    height: 120px;
    background-color: #0093B9;
    box-shadow: 1px 1px 1px 1px #888888;
    border-radius: 1px;
    opacity: 0.5;
    transition: width 1s,background-color 1s,opacity 1s; /* Firefox 4 */
    -moz-transition: width 2s; /* Safari and Chrome */
    -webkit-transition: width 2s; /* Opera */
    -o-transition: width 2s;
}

    .but:hover {
        width: 85px;
        background-color: #007EA0;
        opacity: 1;
    }

img {
    transition-property: box-shadow;
    transition-duration: 300ms;
}

    img:hover {
        box-shadow: 5px 5px 15px rgba(129,148,170,1);
    }

.picture:hover {
    box-shadow: 0 0 20px rgba(129,148,170,1);
}

#picture {
    height: 645px;
    width: 1020px;
    margin-top: 5px;
    /*transition-property: box-shadow;
    transition-duration: 600ms;*/
}

/*底部样式*/
#di {
    border: 0px solid red;
    width: 100%;
    height: 35px;
    position: absolute;
    top: 95.5%;
    background-color: #434343;
    display: none;
    text-align: center;
}

    #di ul {
        height: 25px;
        background: #434343;
        margin: 5px auto;
    }

        #di ul li {
            display: inline;
            height: 25px;
        }

            #di ul li a {
                display: inline-block;
                padding: 0 20px;
                height: 25px;
                line-height: 25px;
                color: #FFF;
                font-family: "\5FAE\8F6F\96C5\9ED1";
                font-size: 12px;
                border: 1px solid #818181;
                border-radius: 5px;
                text-decoration: none;
            }

                #di ul li a:hover {
                    background: #818181;
                }




/*------------特殊名次文本框区域----------------*/
.imptitle:hover, imptitle:focus {
    text-decoration: none;
}

.imptitle {
    border-bottom: 1px solid #bbb;
    color: #E82E27;
    display: inline-block;
    position: relative;
    text-decoration: none;
}
/* Tooltip styling */
span[data-tooltip]:after {
    border-top: 8px solid #222;
    border-top: 8px solid hsla(220,50%,50%,1);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: "";
    display: none;
    left:0;
}

span[data-tooltip]:before {
    background: #222;
    background: hsla(220,50%,50%,1);
    color: #f6f6f6;
    content: attr(data-tooltip);
    display: none;
    font-family: sans-serif;
    font-size: 12px;
    height: 32px;
    left: 0;
    line-height: 32px;
    padding: 0 15px;
    position: absolute;
    text-shadow: 0 1px 1px hsla(0,0%,0%,1);
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
/*小箭头*/
span[data-tooltip]:hover:after {
    display:block;
    position:absolute;
    top: -5px;
    left:10px;
}
/*描述文字区域*/
span[data-tooltip]:hover:before {
    display: block;
    top: -35px;
}

span[data-tooltip]:active:after {
}

span[data-tooltip]:active:before {
}
/*------------特殊名次文本框区域----------------*/
/*----用于标题的P标签的样式---------------*/
.title_p {
   
    font-size: 1.55em;
    font-weight: bolder;
}

.title_p_s {
    font-size: 0.9em;
    font-family: 楷体;
    
}
.Content_p {
    line-height:200%;
}