/*冒险游记页面公用css*/
body {
    background-color: #D2D8DE;
}

div {
    font-family: "Microsoft Yahei", "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*每幅故事展示区DIV*/
.stros {
    border: 0px solid #8194AA;
    height: 712px;
    width: 1024px;
    margin: 0 auto;
    margin-top: 15px;
    box-shadow: 1px 1px 1px 1px #888888;
    border-radius: 8px;
    background-color: White;
}
/*下面外层DIV*/
.mdiv {
    /*border: 0px solid black;
    width: 100%;
    height: 750px;*/
    /*margin-top:95px;*/
    
}
/*图片DIV*/
.imgdiv {
    border: 1px solid #ADB9CD;
    height: 360px;
    width: 502px;
    float: left;
    margin-top: 15px;
    margin-left: 5px;
}
/*包裹图片的DIV*/
.imgoutdiv {
    height: 375px;
    width: 1024px;
}
.neirongclass, .neirongclass_n {
    font-size: 15px;
    font-weight: 600;
    margin-left: 5px;
    color: #333;
    float:left;
}
    .neirongclass span, .neirongclass_n span {
          /*line-height:150%;*/
    }
.neirongclass_title {
    font-size: 15px;
    font-weight: 600;
    margin-left: 5px;
    color: #000000;
}

.neirongclass_n {
    display: none;
}
/*css:{cursor:url('/img/gam379.cur'),auto;}*/
/*鼠标停留在内容描述文字上*/
.neirongclass:hover {
    cursor: pointer;
}
/*分割线*/
hr {
    width: 99%;
}
/*上部地图div*/
#headtitle {
    margin: 0 auto;
    border: 0px solid #49A9DC;
    height: 800px;
    width: 1020px;
    padding: 1px 2px;
    box-shadow: 1px 1px 1px 1px #888888;
    border-radius: 8px;
    background-color: White;
}

#toptitle, #foottitle {
    margin: 0 auto;
    border: 0px solid #458FCE;
    width: 1018px;
    margin-top: 5px;
}

#toptitle {
    height: 600px;
}

#bigDiv {
    width: 1920px;
    height: 1080px;
    background-color: #808080;
    filter: alpha(opacity=60);
    margin: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    display: none;
}
    .KingImg {
            float: left;
        }

        .imgdiv {
            height: 550px;
        }

        .hrs {
            top: 5px;
            display: inline-flexbox;
            width: 49%;
        }

        #pictures {
            width: 983px;
            height: 645px;
            position: relative;
            overflow: hidden;
            border: 0px solid red;
            margin-top: 5px;
            margin-left: 17px;
        }

            #pictures ul {
                height: 645px;
                position: absolute;
            }

                #pictures ul li {
                    float: left;
                    width: 983px;
                    height: 645px;
                    overflow: hidden;
                    position: relative;
                    background: #000;
                }

        .picturebtn {
            height: 35px;
            width:90px;
            font-size: 25px;
            text-align: center;
            font-family: 'Plantagenet Cherokee';
            border-radius: 2px;
            color: #747679;
            background-color: #0D2546;
            transition-property: background-color;
            transition-property: color;
            transition-duration: 300ms;
            z-index: 999;
        }

            .picturebtn:hover {
                cursor: default;
                background-color: #0F95C0;
                color: #ffffff;
            }